@import '../../colors';

.edit_enrollment_popup {
    display: flex;
    flex-direction: column;

    .button_container {
        display: flex;
        flex-direction: row;
        button {
            text-align: center;
            display: flex;
            justify-content: center;

            &.delete {
                color: $error-text;
            }
        }
    }
    h1 {
        font-size: 20px;
        text-align: center;
    }

}

.delete_confirm {
    button {
        text-align: center;
        display: block;

        &.delete {
            margin-left: auto;
            color: $error-text;
        }
    }
    p {
        margin: 0;
        color: rgb(151, 0, 0);
    }
    h3 {
        margin: 0;
    }
}