@import '../../colors';

.new_assignment_popup {
    display: flex;
    flex-direction: column;
    width: 300px;

    h1 {
        font-size: 20px;
        text-align: center;
    }

    .error_message {
        font-size: 12px;
        text-align: center;
        color: $error-text;
        margin: 0 0 15px 0;
    }

    .field_container {
        display: flex;
        flex-direction: row;

        input {
            width: 150px;
            margin: 4px;
            border: 2px solid $background;
            background-color: $color2-lighter;
            border-radius: 8px;
            padding: 5px;
            outline: none;

            &:hover,
            &:focus {
                background-color: $color2-lighter2;
            }
            &.error {
                border: 2px solid $error-border;
                background-color: $error-fill;
            }
        }

        label {
            margin-right: 6px;
            width: 80px;
            transform: translateY(5px);
        }
    }

}