// https://coolors.co/bbdb9b-abc4a1-9db4ab-8d9d90-878e76

$background: #878E76;
$background-text: white;

$color1: #BBDB9B;
$color1-text: black;

$color2: #ABC4A1;
$color2-text: black;
$color2-lighter: #C7D8C0;
$color2-lighter2: #dfebdb;

$color3: #9DB4AB;
$color3-text: black;

$color4: #8D9D90;
$color4-text: white;

$accent: #edec8f;
$accent-lighter: #f0efc7;
$accent-text: #61603a;

// $background: #FFD972;
// $background-text: black;

// $color1: #C7EAE4;
// $color1-text: black;

// $color2: #A7E8BD;
// $color2-text: black;
// $color2-lighter: #DFF7E7;

// $color3: #FCBCB8;
// $color3-text: black;

// $color4: #EFA7A7;
// $color4-text: black;