/* https://coolors.co/5f5449-9b6a6c-b09398-cedfd9-ebfcfb */
body {
  --background: #EBFCFB;
  --color1: #CEDFD9;
  --color2: #C3ACB0;
  --color3: #A5787A;
  --color4: #5F5449;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: var(--background);
}


table {
  background-color: var(--color4);
}

th {
  text-align: left;
  padding: 5px 10px;
  height: 30px;
  min-width: 130px;
  background-color: var(--color3);
  color: #EFE7E7;
  cursor: pointer;
  transition: 0.15s ease background-color;
}

th:hover {
  background-color: var(--color2);
}

.table-grade-cell {
  display: flex;
  align-items: end;
  position: relative;
}

td {
  background-color: var(--color2);
  padding: 5px 10px;
  font-size: 12px;
}

.table-cell-span-percentage {
  font-size: 16px;
  justify-self: flex-end;
  align-self: flex-end;
  margin-left: auto;
}

.table-cell-span-editable {
  background-color: transparent;
  font-size: 16px;
  border: none;
  padding: 2px 5px;
  width: 30px;
  outline: 0px solid transparent;
  transition: 0.1s ease background-color;
  cursor: text;
  margin-right: 2px;
}

.unsaved-change {
  box-shadow: inset 0 0 0 2px var(--color3);
}


.table-cell-span-editable:focus,
.table-cell-span-editable:hover {
  background-color: #ddcbce;
  border-radius: 3px;
}

.totals_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 30px
}

.totals_earned {
  font-size: 16px;
  width: 30px;
  margin: 0px 2px 0px 0px;
  padding: 2px 5px;
}

.totals_max {
  align-self: flex-end
}

.totals_letter {
  margin-left: 30px;
  width: 30px;
  text-align: center;
  margin-right: auto;
  font-size: 25px;
}

.totals_percent {
  font-size: 15px;
}

.exemptflag-disabled,
.exemptflag-enabled {
  position: absolute;
  right: -6px;
  top: -10px;
  cursor: pointer;
}

.exemptflag-disabled {
  color: transparent;
}

td:hover>.table-grade-cell>.exemptflag-disabled {
  color: black;
}