/* https://coolors.co/5f5449-9b6a6c-b09398-cedfd9-ebfcfb */
@import 'colors';

body {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    padding: 20px;
    background-color: $background;
    color: $background-text;
    height: calc(100vh - 40px);
}
#root {
    height: 100%;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding: 5px 10px;
    height: 40px;
    outline: none;

    background-color: $accent;
    border: 2px solid $color4;
    border-radius: 5px;
    color: $accent-text;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;

    transition: 0.2s ease background-color;
    transition: 0.2s ease scale;



    &:hover,
    &:focus {
        background-color: $accent-lighter;
        scale: 105%;
    }

    &:active {
        scale: 96%;
    }

    &>.icon {
        font-size: 24px;
    }

    &>.label {
        transform: translateY(1px)
    }

    &.addstudent {
        width: 154px;
    }
}