@import '../../colors';

.class_table {
    background-color: $color4;
    margin: 5px 0px;

    tbody {
        color: $color2-text;

        th {
            text-align: left;
            padding: 5px 10px;
            min-width: 130px;
            max-width: 220px;
            background-color: $color3;
            color: $color3-text;
            font-size: 16px;

            &.assignment,
            &.total,
            &.studentname {
                cursor: pointer;
                transition: 0.15s ease background-color;

                &:hover {
                    background-color: $color2;
                }
            }
        }

        td.grade_cell {
            background-color: $color2;
            padding: 5px 10px;
            font-size: 12px;


            .content_wrapper {
                input {
                    background-color: transparent;
                    font-size: 16px;
                    border: none;
                    padding: 2px 5px;
                    width: 30px;
                    outline: 0px solid transparent;
                    transition: 0.1s ease background-color;
                    cursor: text;
                    margin-right: 5px;

                    background-color: $color2-lighter;
                    border-radius: 3px;

                    &:focus,
                    &:hover {
                        background-color: $color2-lighter2;
                    }
                }

                display: flex;
                align-items: end;
                position: relative;

                .percentage {
                    font-size: 16px;
                    justify-self: flex-end;
                    align-self: flex-end;
                    margin-left: auto;
                }

                .exempt {
                    position: absolute;
                    right: -6px;
                    top: -10px;
                    cursor: pointer;
                    user-select: none;

                    &.disabled {
                        color: transparent;

                        // If user is hovering over the cell, and exempt is disabled, make it black instead of transparent.
                        @at-root tr>td.grade_cell:hover>.content_wrapper>.exempt.disabled {
                            color: black;
                        }

                    }
                }
            }

            &.pending_change {
                box-shadow: inset 0 0 0 2px $color3;
            }
        }

        td.total_cell {
            background-color: $color2;
            padding: 5px 10px;
            font-size: 12px;


            .content_wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 200px;

                .earned {
                    font-size: 16px;
                    width: 30px;
                    margin: 0px 2px 0px 0px;
                    padding: 2px 5px;
                }

                .max {
                    align-self: flex-end;
                    width: 60px;
                }

                .letter {
                    margin-right: auto;
                    font-size: 25px;
                }

                .percent {
                    font-size: 15px;
                }
            }
        }

    }


}


button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    padding: 5px 10px;
    height: 40px;
    outline: none;

    background-color: $accent;
    border: 2px solid $color4;
    border-radius: 5px;
    color: $accent-text;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;

    transition: 0.2s ease background-color;
    transition: 0.2s ease scale;



    &:hover,
    &:focus {
        background-color: $accent-lighter;
        scale: 105%;
    }

    &:active {
        scale: 96%;
    }

    &>.icon {
        font-size: 24px;
    }

    &>.label {
        transform: translateY(1px)
    }

    &.addstudent {
        width: 154px;
    }

}


div.save_undo_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 5px;
    bottom: 5px;

    &>* {
        width: 180px;
    }

}


div.save-changes-popup {


    .save,
    .undo {
        background-color: $accent;
        padding: 2px 4px;
        border-radius: 2px;
        display: inline-flex;
        margin: 0 3px;
        cursor: pointer;

        * {
            transform: translateY(-4px);
        }

        &:hover {
            background-color: $accent-lighter;
        }
    }
}